<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">  
<plist version="1.0">  
<dict>
		<key>qiushi0</key>
		<dict>
				<key>content</key>
				<string>    表一个吧，仅供大家娱乐娱乐。我以前的那个手机是N年前买的，没有蓝牙，没有照相摄象，没这没那，只能发短信打电话，男朋友让我换，可是苦于异地恋开销大一直都没钱换。铺垫完毕，正题：某年暑假跟男朋友一起，他兼一份家教每天都要去，由于我错失良机，就一直闲置在家，天天各种无聊啊。他怕我无聊，遂互换手机（我可以拿他的上网或者看电子书消遣消遣）。男朋友补习完跟我讲，他在回来的路上，行至天桥时，一哥们紧随着他：“兄弟，借手机用用…”男朋友不了他，其不死心：“我手机没电了，有点急事，帮个忙。”男朋友一直是个谨慎的人，心想铁定是骗子，仍不甩。那男的真是意志坚定，一直在我男朋友耳边吧拉吧拉的讲。男友受不住，遂掏不手机：给你，要不？那男人一看俺那祖传的手机，无声地退下了……</string>
				<key>picPath</key>
				<string></string>
		</dict>
		<key>qiushi1</key>
		<dict>
				<key>content</key>
				<string>    说个高中同学的事   她真的很衰很衰…记得那是一次月考   完事数学老师来讲卷子点评成绩什么的   然后就说：我们班很厉害啊！全级部唯一一个0分出在我们班了！   哗～炸锅了！   “牛逼啊！”   “谁啊！”   然后老师就说：就是我们可爱的XX童鞋！   哥当时就不淡定了！   不能啊！第二卷0分情有可原，确实难，可是选择还蒙不对一个？难道真的让他很荣幸的错过了所有的正确答案？不能吧！那怕全选C也能蒙对啊！   GC来了，原来这位衰神真的全选的C！抱着充分的侥幸心理！   但是，幸运女神没有眷顾她，这选择题答案……一个C也没有！</string>
				<key>picPath</key>
				<string></string>
		</dict>
		<key>qiushi2</key>
		<dict>
				<key>content</key>
				<string>    今天的事……   和姐妹出去玩，谈论起谈恋爱，一姐妹比我们其他几位大5岁的样子，剩女一枚，我们都一直在研究怎么能帮她找对象，把她嫁出去。说到什么样子的男的合适的时候，一群女生免不了YY一番。本人呢就是死心塌地追随现任BF的。回家的路上给BF打电话，想逗逗男友，便说：朋友们都在张罗给XX找对象呢，要是有合适我的，我也不要你了吧。   BF沉思片刻，以极其冷静兼认真的语气，跟我说：我最近也在考虑和你提分手，正发愁不知道怎么跟你说，既然你都这么说了，我们还是分手吧。祝你找到合适的。   对着手机里的忙音……我无言了……</string>
				<key>picPath</key>
				<string></string>
		</dict>
</dict>  
</plist>  